#footer {
 margin-top: 11px;
  background: #333333f0;
  color: #f0f0f0;
  padding: 20px 30px 10px 0px;
  font-size: 16px;
}

.footer-container {
  display: flex;
<<<<<<< HEAD
  flex-wrap: wrap;
  justify-content: space-between;
  /* max-width: 1200px; */
  margin: auto;
  text-align: center;
=======
>>>>>>> 92630fa646c9d0b6bed4557c5c8ab054e2251375
}

.footer-section {
  flex: 1 1 200px;
  box-shadow: 0 0 10px gray;
  margin: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 10px;
}

.footer-section h3,
.footer-section h4 {
  color: #ffffff;
  margin-bottom: 5px;
}

.footer-section p,
.footer-section a {
<<<<<<< HEAD
  color: white;
=======
  color: #fef7abde;
>>>>>>> 92630fa646c9d0b6bed4557c5c8ab054e2251375
  text-decoration: none;
}
.fot-head{
  color: #21829A !important;
}
.fot-head.footer-links{
  margin-bottom: 30px;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 8px 0;
}

.footer-section ul li a:hover {
  color: #ffffff;
}

.footer-bottom {
  text-align: center;
  /* margin-top: 40px; */
  border-top: 1px solid #333;
  /* padding-top: 20px; */
  font-size: 14px;
  color: #999;
}

.footer-bottom p {
<<<<<<< HEAD
   
    margin-bottom: 0;
    color: whitesmoke;
    font-weight: 500 !important;
=======
  color: whitesmoke;
  margin-bottom: 0 !important;
>>>>>>> 92630fa646c9d0b6bed4557c5c8ab054e2251375
}

.footer-bottom a {
  color: #ff6f00;
  text-decoration: none;
}

@media (max-width: 768px) {
    .footer-section {
    margin: 5px;
  }
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin: 1px 0;
    padding: 10px;
    border-bottom: 1px solid #333;
    

  }
}